@import forms.RegistrationForm
@import views.html.helper.twitterBootstrap._
@(title : String)(registrationForm : Form[RegistrationForm])

@main(title){
    @helper.form(action = routes.AccountController.register(), 'method -> "POST"){
        @helper.inputText(registrationForm("username"))
        @helper.inputText(registrationForm("email"))
        @helper.inputText(registrationForm("password"))
        @helper.inputText(registrationForm("passwordConfirmation"))
        <button type="submit" class="btn btn-success">S'enregistrer</button>
    }
}